@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #6FA0AC;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem; /* p-24 in Tailwind CSS is equivalent to 6rem */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.experience-section {
  background-color: #6FA0AC; /* Match the teal background color */
  padding: 3rem 2rem; /* Add some padding */
  width: 100%; /* Full width */
}

.experience-container {
  max-width: 1200px; /* Or whatever max-width your content uses */
  margin: 0 auto; /* Center the container */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.experience-item {
  background-color: rgb(19, 1, 1);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(246, 239, 239, 0.1);
  color: #130101;
}

.experience-company {
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.experience-date {
  color: #666;
  font-size: 0.9rem;
}

